services:
  production:
    image: mcp-open-webresearch:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mcp-production
    working_dir: /app
    restart: unless-stopped
    ports:
      - "3000:3000"

    env_file: .env

    volumes:
      # Mount for custom CA certificates
      # - ./certs:/app/certs:ro
      - ${CERT_HOST_FOR_STORE:+${CERT_HOST_FOR_STORE}:/usr/local/share/ca-certificates/host_certs:ro}
      # - ${CERT_HOST_FOR_EXTRA:+${CERT_HOST_FOR_EXTRA}:/home/node/extra_certs:ro}
    networks:
      - mcp-network

    # If Node crashes, you can see the last error in the logs.
    # Run the following in terminal:
    # docker logs mcp-open-webresearch
    healthcheck:
      test: ["CMD", "pgrep", "-f", "node"]
      interval: 10s
      timeout: 1s
      retries: 1
      start_period: 60s

    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 1G
        reservations:
          cpus: "0.5"
          memory: 256M

    security_opt:
      - no-new-privileges:true

networks:
  mcp-network:
    driver: bridge
